name: Unit tests

on:
  push:
    branches:
      - production
      - development
      - staging
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  app_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 16.15.0
        uses: actions/setup-node@v1
        with:
          node-version: '16.15.0'
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
      - name: install dependencies
        run: yarn install
      - name: Run tests and coverage
        uses: paambaati/codeclimate-action@v2.2.4
        env:
          CC_TEST_REPORTER_ID: 227d10f964223078e8130ee0e36a2e8dd189848ce70bec73ff884715ce543efb
        with:
          coverageCommand: yarn coverage --maxWorkers=2
